doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Brynn Briedis
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap' rel='stylesheet')
  //link(rel='stylesheet' href='css/styles.css')
.scroll-container
  .screen.home-screen
    .text-container
      h1 brynn
      p
        | Brynn is my name, and CSS is my game. By day I build human-centered Drupal websites and by night I get funky with CSS building over complicated, often unnecessary javascript-less projects (becasue whoever needed javascript). I&rsquo;m current a developer at annex focused on building websites that people actually want to use.
    picture.home-image
      source(srcset='img/brynn.webp' type='image/webp')
      source(srcset='img/brynn.jpg' type='image/jpeg')
      img(src='img/brynn.jpg' alt='Brynn Briedis profile shot')
  .screen.work-screen
    .screen--heading
      h2 recent work
    .screen--subheading
      h3 Boxwow
      h4
        a(href='https://github.com/Gumnutt/boxwow') github.com/Gumnutt/boxwow
    .screen--info
      .text-container
        p
          | Boxwow is a PHP application I created to assist with the creatation of pure CSS images constructed with box-shadows.
        p
          | After spending many hours constructing images out of box-shadows I decieded there must be a better way. Long story short there was, and boxwow is it.
      picture
        source(srcset='img/boxwow.png' type='image/png')
        img(src='img/boxwow.png' alt='Boxwow screen')
